 * {
  margin: 10px;
  padding: 10px;
    background-image:url("D:\xampp\htdocs\mypro\images\logogh.png");
}
body {
  font-size: 120%;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: yellow;
  background: black;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ffc300;
  background: black;
  border-radius: 0px 0px 10px 10px;
  }
.input-group {
  margin: 10px 10px 10px 10px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 150px;
  width:150px;
  padding: 5px 10px;
  font-size:90px;
  border-radius: 5px;
  border: 1px solid black;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: blue;
  background: black;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: yellow; 
  background:black; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}